[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = https://github.com/gmarik/vundle.git
[submodule ".vim/bundle/vim-monokai"]
	path = .vim/bundle/vim-monokai
	url = https://github.com/sickill/vim-monokai.git
[submodule ".vim/bundle/vim-multiple-cursors"]
	path = .vim/bundle/vim-multiple-cursors
	url = https://github.com/terryma/vim-multiple-cursors.git
[submodule ".vim/bundle/vim-markdown"]
	path = .vim/bundle/vim-markdown
	url = https://github.com/plasticboy/vim-markdown.git
