[user]
	name = Túlio Hoffimann
	email = tuliohmendes@gmail.com
[color]
	ui = auto
[alias]
	co = checkout
	ll = log --graph --pretty=oneline --decorate --abbrev-commit
	li = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s - %C(yellow)%an<%ae>%C(white), %ar%Creset'
[core]
	autocrlf = input
