[user]
	name = Túlio Hoffimann
	email = tuliohmendes@gmail.com
[color]
	ui = auto
[alias]
	co = checkout
	li = log --graph --pretty=format:'%C(yellow)%h%C(cyan)%d%Creset %s %C(white)- %an<%ae>, %ar%Creset'
	ll = log --graph --pretty=oneline --decorate --abbrev-commit
[core]
	autocrlf = input
[push]
	default = simple
